  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@100&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: 'Montserrat', sans-serif;
      line-height: 1.7;
  }

  .header {
      height: 95vh;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../PROJECT1/header-image.jpg');
      position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .header,
  ul li a {
      color: aliceblue;
  }

  ul li {
      list-style: none;
  }

  a {
      font-size: 1.6rem;
      text-decoration: none;

  }

  p,
  li {
      font-size: 1.6rem;
      margin-bottom: 0.5em;
      letter-spacing: 0.15em;
  }

  /* utility class */
  .lg-heading {
      font-size: 3.5rem;

  }

  .md-heading {
      font-size: 2.2rem;
  }

  .text-red {
      color: #e63946;
  }

  .text-light {
      color: #f4f4f4
  }

  .text-black {
      color: #333
  }

  .text-grey {
      color: #555
  }

  .heading-content {
      text-align: center;
      position: absolute;
      top: 40%;
      left: 20%;
      transform: transalte(-50%, -50%);
      background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  }

  .heading-content h1 {
      text-transform: uppercase;
      font-weight: 400;
  }

  .heading-content p {
      text-transform: uppercase;
      /* font-weight: 400; */
  }

  .btn {
      display: inline-block;
      padding: 0.5em 1em;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0.5em;
  }

  .btn-primary:hover {
      background-color: #f4f4f4;
  }

  .btn-secounday:hover {
      background-color: #f4f4f4;
  }

  .btn-primary {
      background-color: #f4f4f4;
      border-radius: 10em;
  }

  .btn-secounday {
      border: 2px solid #e63946;
      border-radius: 1.5em;
      color: #d73232;
      background: #fff;

  }

  .container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
  }

  /*  */
  h1,
  h2,
  h3 {
      margin-bottom: 0.5em;
      font-weight: 500em;
      letter-spacing: 0.15em;
  }

  .navbar {
      /* border: 2px solid white; */
      padding: 1rem;
  }

  :root {
      font-size: 62.5%
  }
  /* heading */

  nav h1 {
      float: left;

  }

   nav .nav-items {
      float: right;

  }

  .navbar ::after {
      content: '';
      clear: both;
      display: block;
  }

  nav .nav-item {
      display: inline-block;
      padding: 1rem;
      text-transform: uppercase;

  }
/* heading */
  .nav-items a:hover {
      border-bottom: 1px solid #f4f4f4;
  }

  /* ?header content style */







  .row::after {
      content: '';
      display: block;
      clear: both;
  }

  /* showcase styling */
  .showcase {
      background-color: #ddd;
      padding: 10rem 0;
  }

  .row {
      height: 350px;
      background: #f4f4f4;
      box-shadow: 0px 0px 20PX 0PX #aaa;
  }

  .row1 {
      margin-bottom: 10rem;
  }

  /* .row1.img-box.row2{
    float: right;
    width: 50%;
    border: 1px solid rebeccapurple;
    height: 100%;
    padding: 3rem;

} */
  /* .row1.text2.row2{
    float: left;
    width: 50%;
    padding: 3rem;

    border: 1px solid #f4f4f4;

} */
  .row1.img-box,
  .row2.text-box {
      float: left;
      width: 50%;
      padding: 3rem;

  }

  .row1.img-box,
  .row2.text-box {
      float: right;
      width: 50%;
      padding: 3rem;

  }


  .row1 .img-box,
  .row2 .text-box {
      float: left;
      width: 50%;
      height: 100%;




  }

  .row2 .img-box img {
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .row1 .img-box img {
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .text-box {
      padding: 2em;

  }

  .row2 .img-box,
  .row1 .text-box {
      float: right;
      width: 50%;
      height: 100%;

  }

  /* feature */
  .feature {
      padding: 10rem 0;

  }

  .box-wrapper {
      box-shadow: 0px 0px 20PX 0PX #aaa;


  }
.box-1,.box-3{
    background-color: #262626;
    color: #ddd;
}
.box-2{
background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 50%);
color: #f4f4f4;
}

  .box {
      border: 1px solid gray;
      width: 33.33%;
      float: left;
      padding: 2rem;
      text-align: center;
  }
  .box-wrapper::after{
    content: '';
    display: block;
    clear: both;
  }
  /* footer icon */
  .footer-icon{
    text-align: center;
    border: 1px solid blue;
    background-color: #333;
    color: #fff;
    padding: 2rem;

  }
  .footer-icon i{
    margin: 2rem;
  }
  /* media query */
  @media (max-width:500px) {
    :root{
        font-size: 8px;
    }
    .heading-content .lg-heading{
        display: none;
    }
  
  }